@font-face {
  font-family: "webfont";
  src: url('../font/webfont.eot'); /* IE9*/
  src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/webfont.woff') format('woff'), /* chrome、firefox */
  url('../font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.web-font {
  font-family:"webfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}



body{
  width:1440px;
}
/*导航栏*/
#menu{
  width: 1440px;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 264px;
}
/*导航栏右侧文字*/
#menu h2{

  font-size: 16px !important;
}
/*导航栏右侧按钮*/
#menu-button{
  width: 112px;
  height: 33px;

}
#menu-button img{
  display:inline-block;
  position: absolute;
  left:20%;
  top:20%;




}
#menu-button span{
  font-size: 16px;
  position: absolute;
  left:50%;
  top:-50%;


}
.ui.header:first-child {
    margin-top: 4px;
}
.ui.header.image{
  margin-right:10px;
}

/*导航栏大图*/
#tupian{
  height:689px;
  background-image: url("../images/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding:0;
}
/*黄色栏位*/
#yellow-bar{
  height: 109px;
  background-color: rgba(252, 195, 22, 0.8);
  top:100%;
  transform: translate(0,-100%);
  padding:23px 430px;

}
/*搜索框*/
#search-box{
  margin: 5px 0;
}
#search-box input{
  border-radius: 0;
}
/*搜索框按钮*/
#sosuo{
  font-size: 20px;
}
/*下拉按钮*/
#xiala{
  left:70%;
}
/*房子图片*/
#zhanshi{
  height:750px;
  background-image: url("../images/photo_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding:10px 280px;
}
#zhanshi > h2{
  margin-bottom: 30px;
  margin-top: 30px;
}
/*房子图片及右上角标签*/
.ui.fluid.card{
  box-shadow: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ui.fluid.card .label{
  width: 74px;
  word-break: keep-all;
  border-radius: 0 10px 0 0;
}
.ui.card .ui.divider{
  width: 50%;
  margin-left: 50%;
  margin-top: 3%;
  transform: translate(-50%,0);
}

#footer{
  padding:10px 280px;
}
/*最底下的一行字*/
#bottom{
  margin-bottom: 100px;
}
/*应用字体*/
:not(#xiala){
  font-weight: normal !important;
  font-family: webfont !important;
}
